<div class="container m-auto p-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-7">
    <div class="card-profile p-3">
      <div class="text-center mt-3">
        <div class="profile-title">
          <span class="p-3 rounded fs-4">Sign up</span>
        </div>
      </div>
      <div class="form-account">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, data: { turbo: false },  id: 'create_user'}) do |f| %>
          <% if @user.errors.any? %>
            <div class="error-message">
              <%= @user.errors.full_messages.to_sentence.capitalize %>
            </div>
          <% end %>
          <div class="form-inputs">
            <%= f.input :first_name, required: true, autofocus: true %>
            <%= f.input :last_name, required: true, autofocus: true %>
            <%= f.input :email, label: "Your email", required: true, autofocus: true, input_html: { autocomplete: "email" }%>
            <%= f.collection_radio_buttons :is_trainer, [[true, 'Yes'], [false, 'No']], :first, :last, label: "Are you a trainer?" %>
            <%= f.input :password, label: "Your password", required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, label: "Confirm your password", required: true,
            input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-actions my-3">
            <%= f.button :submit, "Sign up", class: "btn btn-outline-light" %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>