<div class="container m-auto px-4">
  <div id="bookings-index" class="py-3 px-3">
    <div class="bookings-title my-5">
      <h1 class="fw-semibold">My bookings</h1>
    </div>
    <% if @bookings.present? %>
      <div class="pb-5 px-3">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                </th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Duration</th>
                <th scope="col">Cost</th>
                <th scope="col">Trainer</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% @bookings.each do |booking| %>
                <tr>
                  <th scope="row">
                  </th>
                  <td><%= booking.schedule.start_time.strftime("%d/%m") %></td>
                  <td><%= booking.lesson.title %></td>
                  <td><%= booking.lesson.category %></td>
                  <td><%= booking.lesson.duration %> min</td>
                  <td><%= humanized_money_with_symbol(booking.lesson.price) %></td>
                  <td><%= booking.trainer.name %></td>
                  <td><%= booking.status %></td>
                  <td>
                  </td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <p class="fs-3">No bookings ! You just need to move.</p>
      <%= link_to "new lesson", lessons_path, class:"btn btn-outline-success my-3" %>
    <% end %>
  </div>
</div>
