<div class="container">
  <div class="form-schedule my-4">
    <%= simple_form_for @schedule do |f| %>
    <div class="form-inputs">
      <%= f.input :trainer_id, as: :hidden, value: @trainer.id %>
      <%= f.input :title %>
      <%= f.input :start, as: :date %>
      <%= f.input :end, as: :date %>
    </div>
    <div class="form-actions">
      <%= link_to "Cancel", trainer_path(@trainer), class:'btn btn-outline-danger mt-4' %>
      <%= f.submit 'Add', class:"btn btn-outline-light mt-4" %>
    </div>
    <% end %>
  </div>
</div>
