<div class="container">
  <div class="form-schedule">
    <%= simple_form_for @schedule do |f| %>
    <div class="form-inputs">
      <%= f.input :trainer_id, as: :hidden, value: @trainer.id %>
      <%= f.input :title %>
      <%= f.input :start, as: :date %>
      <%= f.input :end, as: :date %>
    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-outline-light mt-4" %>
    </div>
    <% end -%>
  </div>
</div>
