<div id="schedule">
  <div class="schedule-header py-5 bg-image-full" style="background-image: url(<%= image_path "yoga-default02.jpeg"%>">
     <div class="text-center my-5">
      <%= image_tag(@schedule.trainer.image_as_thumbnail, class:"img-fluid rounded-circle mb-4")%>
      <h1 class= "fs-3 fw-bolder"><%= @schedule.lesson.title %></h1>
      <p class="mb-0"><%= @schedule.trainer.name %></p>
    </div>
  </div>
  <div class="schedule-content py-5">
      <div class="schedule-description">
        <h2>Description</h2>
        <p class="lead"><%= @schedule.lesson.description %></p>
        <p class="mb-0"><%= @schedule.lesson.category %></p>
        <p class="mb-0"><%= @schedule.lesson.level %></p>
        <p class="mb-0">Duration: <%= @schedule.lesson.duration %>min</p>
        <p class="mb-0"><%= @schedule.lesson.cost %></p>
      </div>
        <div class="booking">
          <%= simple_form_for [@schedule, Booking.new], html: { turbo: false } do |f| %>
            <%= f.input :lesson_id, as: :hidden, value: @schedule.lesson.id %>
            <%= f.input :trainer_id, as: :hidden, value: @schedule.trainer.id %>
            <%= f.input :client_id, as: :hidden, value: current_user.client.id %>
            <%= f.input :start, as: :hidden, value: @schedule.start_time %>
            <%= f.submit 'Book this class', class:"btn btn-outline-light mt-4" %>
          <% end %>
         </div>
     </div>
  </div>
</div>
