<div id="lesson" class="container">
  <div class="row gx-4 gx-lg-5 py-4">
    <div class="d-flex justify-content-center px-2">
      <h1 class="fs-1 fw-bolder px-2"><%= @lesson.title.upcase %></h1>
    </div >
    <div class="d-flex justify-content-center mx-auto">
      <h4 class="fw-bold fs-3"><%= @lesson.category %></h4>
      <div class="mx-4">
        <% like = current_user.client.likes.find_by(lesson: @lesson ) %>
        <% if like.nil? %>
          <%= button_to likes_path, params:{like:{lesson_id: @lesson.id}}, id:"button-like", class:"btn btn-danger", method: :post  do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
          <% end %>
        <% else %>
          <%= button_to like_path(like), id:"button-unlike", class:"btn btn-outline-danger", method: :delete do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
              <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-around fs-4 my-5">
      <span><%= humanized_money_with_symbol(@lesson.price) %></span>
      <span><%= @lesson.duration %> min</span>
      <span>Level <%= @lesson.level %></span>
    </div>
    <div class="d-flex justify-content-center">
      <p class="lead"><%= @lesson.description %></p>
    </div>
  </div>
</div>

