<div class="container m-auto p-3">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-7">
    <div class="card-profile p-3">
      <div class="text-center mt-3">
        <div class="profile-title">
          <span class="p-2 rounded fs-4">Edit your profile</span>
        </div>
      </div>
      <div class="form-account">
        <%= simple_form_for @trainer, html: { id: "edit_trainer" } do |f| %>
          <div class="form-inputs">
            <%= f.input :user_id, as: :hidden, value: current_user.id %>
            <%= f.input :first_name, required: true, autofocus: true %>
            <%= f.input :last_name, required: true, autofocus: true %>
            <%= f.input :phone, required: false, autofocus: true %>
            <%= f.input :bio, required: false, autofocus: true %>
            <%= f.input :experience, required: false, autofocus: true %>
            <%= f.input :image, as: :file, placeholder: 'Upload a picture', direct_upload: true %>
          </div>
          <div class="form-actions">
            <%= link_to "Cancel", trainer_path(@trainer), class: "btn btn-outline-dark mt-1" %>
            <%= f.button :submit, 'Update', class:"btn btn-outline-light mt-1" %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
