<%= turbo_frame_tag "schedules" do %>
  <div id="schedules-index">
    <table class="table table-hover table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
        </tr>
      </thead>
      <tbody>
        <% @trainer_schedules.each do |schedule| %>
        <tr>
          <th scope="row"><%= schedule.id %></th>
          <td><%= schedule.lesson.title %></td>
          <td><%= schedule.date.strftime("%d/%m/%Y") %></td>
          <td><%= schedule.start.strftime("%k:%M")  %></td>
          <td><%= schedule.end.strftime("%k:%M") %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>
