<div class="container mt-5">
  <%= turbo_frame_tag @trainer do %>
    <div class="row d-flex align-items-center justify-content-center ">
      <div class="col-md-7">
        <div class="card-profile p-3 py-4">
          <div class="text-center">
            <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
          </div>
          <div class="text-center mt-3">
            <div class="profile-title">
              <span class="p-1 px-4 rounded fs-4">Profile</span>
            </div>
            <h5 class="mt-2 mb-0 fs-4"><%= @trainer.name %></h5>
            <span class="fs-6"><%= @trainer.phone %></span>

            <div class="px-4 mt-1">
              <p class="fs-5"><%= @trainer.bio %></p>
              <p class="fs-5"><%= @trainer.experience %></p>
            </div>
            <div class="buttons">
              <%= link_to "Back", root_path , class:"btn btn-outline-dark"%>
              <%= link_to "Edit", edit_trainer_path(@trainer), class:"btn btn-outline-light" %>

              <%= link_to "+", new_schedule_path, class:"btn btn-outline-success fw-bold", data: { turbo_frame: "modal" }  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end -%>
</div>
